@use '../abstracts' as *;
@use '../components/home-issue-block';

.archive {
  #site-content {
    max-width: 800px;
    margin: rem(16) auto rem(48);

    @include breakpoint('large') {
      margin-top: rem(24);
    }

    @include breakpoint('xlarge') {
      margin-top: rem(32);
    }
  }

  .post-meta {
    color: var(--post-meta);

    &__categories {
      color: $color-accent-dark-primary-400;
      text-transform: uppercase;
      @extend %text-style-label-small-strong;
    }
  }

  .post-block {
    &__title {
      color: $color-black-190;
    }

    &__excerpt {
      color: $color-black-165;
    }
  }
}
