@use '../abstracts' as *;
@use '../components/home-issue-block';

.home {
  background: $color-bg-light-200 !important;

  #site-content {
    grid-template-areas:
      'header header'
      'featured recent'
      'cta cta'
      'content content';
    margin-top: rem(16);

    @include breakpoint('large') {
      display: grid;
      grid-template-columns: minmax(50%, auto) rem(330);
      align-items: start;
      margin-top: rem(24);
    }

    @include breakpoint('xlarge') {
      margin-top: rem(32);
    }
  }

  .post-block {
    padding-right: 0;
    padding-left: 0;

    &__title,
    .post-meta__date {
      margin-bottom: rem(8);
    }

    &__excerpt {
      margin-bottom: rem(16);
    }
  }

  &__recent,
  &__featured-primary {
    &-label,
    .post-meta__authors,
    .post-meta__authors a,
    .post-block__title,
    .post-block__excerpt {
      color: $color-white-190;
    }

    .post-meta__date {
      color: $color-white-165;
    }

    .post-meta__categories {
      --post-meta: #{$color-accent-dark-primary-400};

      a {
        /* stylelint-disable-next-line */
        &:hover,
        &:focus {
          color: $color-white-100;
        }

        /* stylelint-disable-next-line */
        &:focus {
          background: $color-border-light-130;
        }
      }
    }

    .post-block__title,
    .post-meta__authors {
      a {
        /* stylelint-disable-next-line */
        &:hover {
          color: $color-accent-dark-primary-400;
        }

        /* stylelint-disable-next-line */
        &:focus {
          color: $color-white-100;
          background: $color-bg-dark-400;
        }
      }
    }
  }

  &__recent {
    position: relative;
    z-index: 1;
    grid-area: recent;
    padding-top: rem(24);
    padding-bottom: rem(32);
    background: $color-bg-dark-200;
    @include full-width-background($color-bg-dark-200);

    @include breakpoint('small') {
      padding-right: rem(24);
      padding-left: rem(24);
    }

    @include breakpoint('large') {
      margin-top: rem(-160);
    }

    &::after,
    &::before {
      @include breakpoint('small') {
        display: none;
      }
    }

    &-label {
      @extend %text-style-heading-large-strong;
    }

    .icon-3-arrows {
      width: rem(36);
      height: rem(18);
      margin-top: rem(4);
    }

    &-posts {
      margin-top: rem(32);
    }

    .post-block {
      display: block;
      padding-bottom: rem(32);
      background: $color-bg-dark-200;
      @include full-width-background($color-bg-dark-200);

      @include breakpoint('small') {
        &::after,
        &::before {
          display: none;
        }
      }

      @include breakpoint('large') {
        &:last-child {
          border-bottom: 0;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-border-light-115;
      }

      &:first-of-type {
        margin-top: 0;
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &__img {
        display: none;
      }

      &__title,
      .post-meta__date {
        margin-bottom: rem(16);
      }

      &__excerpt {
        margin-bottom: rem(8);
      }

      /* stylelint-disable-next-line */
      .post-meta__categories li:not(:last-of-type)::after {
        border-right: 1px solid $color-border-light-130;
      }
    }
  }

  &__featured-primary {
    @include csis-block-full-width-wrapper();
    position: relative;
    grid-area: header;
    padding: rem(80) 6vw rem(16);

    @include breakpoint('small') {
      margin-bottom: rem(48);
      padding-top: rem(160);
      padding-bottom: rem(32);
    }

    @include breakpoint('medium') {
      padding-bottom: rem(40);
    }

    @include breakpoint('large') {
      padding-bottom: rem(56);
    }

    @include breakpoint('xxlarge') {
      padding-right: rem(80);
      padding-left: rem(80);
    }

    &-label {
      @extend %text-style-label-small;
      display: flex;
      align-items: flex-end;
      width: fit-content;
      height: rem(30);
      padding-right: rem(22);
      padding-left: rem(16);
      font-weight: normal;
      text-transform: uppercase;
      background: $color-bg-dark-290;
      clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

      @include breakpoint('medium') {
        padding-right: rem(32);
        padding-left: rem(24);
      }

      @include breakpoint('xxlarge') {
        margin-left: calc(((100vw - 1400px) / 2) - var(--scrollbarHalf));
      }
    }

    .post-block {
      position: unset;
      grid-template-columns: unset;
      margin-top: 0;
      padding: rem(16);
      column-gap: unset;
      background: $color-bg-dark-290;

      @include breakpoint('medium') {
        padding: rem(24);
      }

      @include breakpoint('large') {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: rem(800);
        margin-left: 0;
        padding: rem(32) rem(40);
      }

      @include breakpoint('xxlarge') {
        margin-left: calc(((100vw - 1400px) / 2) - var(--scrollbarHalf));
      }

      &__title {
        @extend %text-style-heading-2-x-large;
      }

      &__excerpt {
        @extend %text-style-paragraph-large-short;
      }
    }

    .post-block__img {
      margin: 0;

      img {
        @include vw100();
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        @include z-index(hpHeaderImg);
      }
    }
  }

  &__featured-secondary {
    grid-area: featured;
    background: $color-bg-light-100;
    @include full-width-background($color-bg-light-100);

    @include breakpoint('small') {
      padding-right: rem(24);
      padding-left: rem(24);
      @include full-width-background(transparent);
    }

    @include breakpoint('large') {
      margin-right: rem(48);
      padding-right: rem(48);
      padding-left: rem(48);
    }

    .post-block {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: rem(24);

      &::after {
        background: transparent;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-black-130;
      }

      @include breakpoint('xlarge') {
        padding-bottom: rem(32);

        &:not(:first-child) {
          &.has-post-thumbnail {
            display: grid;
            grid-template-areas:
              'title img'
              'excerpt img'
              'authors img'
              'date img'
              'categories img';
            grid-template-columns: 2fr 1fr;
            grid-template-rows: max-content max-content max-content max-content auto;
            column-gap: rem(32);
          }
        }
      }

      &:first-child {
        margin-top: 0;
        padding-top: rem(40);

        @include breakpoint('small') {
          margin-top: rem(40);
        }

        @include breakpoint('large') {
          margin-top: 0;
        }

        @include breakpoint('xlarge') {
          padding-top: 0;
        }

        /* stylelint-disable-next-line */
        .post-block__img {
          @include breakpoint('xlarge') {
            margin-right: rem(-48);
            margin-bottom: rem(40);
            margin-left: rem(-48);
          }

          /* stylelint-disable-next-line */
          img {
            width: 100%;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: rem(40);
      }

      .post-meta__authors {
        /* stylelint-disable */
        a {
          
          &:hover {
            /* stylelint-enable */
            color: $color-link-primary-200;
          }
  
          /* stylelint-disable-next-line */
          &:focus {
            color: $color-link-primary-200;
            background: $color-bg-light-400;
          }
        }
      }
    }
  }

  &__cta {
    grid-area: cta;
    padding-top: rem(40);
    padding-bottom: rem(64);
    background: $color-bg-light-200;
    @include full-width-background($color-bg-light-200, '', false);

    .icon {
      margin-left: rem(8);
    }
  }

  &__featured-content {
    @include csis-block-full-width-wrapper();
    grid-area: content;
    padding-top: rem(20);
    padding-bottom: rem(20);

    @include breakpoint('large') {
      padding-top: rem(48);
      padding-bottom: rem(60);
    }

    @include breakpoint('xxlarge') {
      padding-left: rem(80);
    }

    &-wrapper {
      margin-right: 6vw;
      margin-left: 6vw;
      padding: rem(40);
      color: $color-white-100;
      background-color: $color-bg-dark-290;

      @include breakpoint('large') {
        width: 44vw;
        max-width: rem(800);
      }

      @include breakpoint('xxlarge') {
        margin-left: calc(((100vw - 1400px) / 2) - var(--scrollbarHalf));
      }
    }

    &-title {
      @extend %text-style-heading-2-x-large;
    }

    &-desc {
      @extend %text-style-label-large;
      margin-top: rem(32);
      margin-bottom: rem(32);

      *:not(:last-child) {
        margin-bottom: rem(8);
      }

      ul {
        padding-left: 0;
        list-style: none;
      }

      li {
        display: flex;
        align-items: center;
      }

      li::before {
        margin-right: rem(22);
      }

      li:first-child::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%23B4D0D0"/%3E%3C/svg%3E');
      }

      li:nth-child(2)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%236ABEB0"/%3E%3C/svg%3E%0A');
      }

      li:nth-child(3)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%233D8283"/%3E%3C/svg%3E%0A');
      }

      li:nth-child(4)::before {
        content: url('data:image/svg+xml,%3Csvg width="14" height="22" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.8462 12.625L0 0.75V23.25L13.8462 12.625Z" fill="%232C6565"/%3E%3C/svg%3E%0A');
      }
    }

    &-link {
      display: flex;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;

      .icon {
        margin-left: rem(8);
      }
    }
  }
}
