@use '../abstracts' as *;
@use '../components/home-issue-block';

.home {
  #site-content {
    display: grid;
    grid-template-areas:
      'header header'
      'featured recent'
      'map map';
    grid-gap: rem(48);
    align-items: start;
    margin-top: rem(16);
    margin-bottom: rem(48);

    @include breakpoint('large') {
      grid-auto-columns: 2fr 1fr;
      margin-top: rem(24);
    }

    @include breakpoint('xlarge') {
      grid-gap: rem(72);
      margin-top: rem(32);
    }
  }

  &__recent {
    position: relative;
    z-index: 1;

    &:only-child {
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }

    .post-block {
      &:first-of-type {
        @include breakpoint('medium') {
          grid-template-areas:
            'img'
            'title'
            'excerpt'
            'authors'
            'date'
            'categories';
          grid-template-columns: 1fr;
          grid-template-rows: auto;
        }
      }
    }

    @include breakpoint('large') {
      grid-area: recent;
    }
  }

  .post-block--post {
    &:not(:last-child) {
      margin-bottom: rem(16);
      padding-bottom: rem(16);
      border-bottom: 1px solid $color-black-130;
    }

    > *:not(:last-child) {
      margin-bottom: rem(8);
    }

    // .post-block__title {
    //   // @extend %font-heading-xl-sans;
    // }
  }

  &__featured-primary {
    @include csis-block-full-width-wrapper();
    position: relative;

    .post-block__img {
      // @include csis-block-full-width-wrapper();

      img {
        @include vw100();
        position: absolute;
        left: 0;
        top: 0;
        // object-fit: cover;
        @include z-index(hpHeaderImg);
      }
    }

    @include breakpoint('large') {
      grid-area: header;
    }
  }

  &__featured-secondary {
    .post-block:first-child {
      display: flex;
      flex-direction: column;
    }

    @include breakpoint('large') {
      grid-area: featured;
    }
  }
}
