@use '../abstracts' as *;

.single {
  &__header {
    --page-desc-color: #{$color-accent-dark-primary-400};
    position: relative;
    max-width: $size__content-max-width;
    margin: 0 auto rem(56);
    padding: rem(40) 0;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      @include z-index(postBG);
      display: block;
      @include csis-block-full-width-wrapper();
      background: $gradient-post-header;
    }

    .post-template-default & {
      @include breakpoint('large') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto max-content max-content auto;
        max-width: 100%;
        column-gap: rem(48);
      }

      @include breakpoint('xlarge') {
        column-gap: rem(56);
      }
    }

    .post-template-template-no-image & {
      max-width: 100%;

      @include breakpoint('xlarge') {
        padding-bottom: rem(56);
      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        margin-top: rem(16);
        background: $color-accent-light-primary-100;

        @include breakpoint('large') {
          margin-top: rem(24);
        }
      }

      > * {
        max-width: $size__content-max-width;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__title {
    margin-bottom: rem(8);
    color: $color-white-100;
    @extend %text-style-heading-3-x-large-strong;

    .post-template-default & {
      align-self: end;
      margin-bottom: rem(24);
    }

    .post-template-template-no-image & {
      @include breakpoint('medium') {
        margin-bottom: rem(16);
      }
    }
  }

  &__desc {
    margin-bottom: rem(24);
    color: var(--page-desc-color, $color-white-190);
    @extend %text-style-paragraph-small-short;
  }

  .post-meta__authors {
    --post-meta: #{$color-white-190};
    margin-bottom: rem(8);
  }

  .post-meta__date {
    --post-meta: #{$color-white-165};
  }
}

.featured-media {
  grid-column: 2;
  grid-row: 1 / 5;
  margin: rem(40) 0 0;

  @include breakpoint('large') {
    margin-top: 0;
  }
}

.featured-media__caption {
  margin-bottom: rem(12);
  // color: $color-text-gray-70;
  // @extend %font-body-sm;

  &::after {
    content: '';
    display: block;
    width: rem(40);
    height: 2px;
    margin-top: rem(12);
    background: $color-black-130;
  }
}
