@use '../abstracts' as *;

.entry-header {
  --page-desc-color: #{$color-accent-dark-primary-400};
  position: relative;
  max-width: $size__content-max-width;
  margin: 0 auto rem(56);
  padding: rem(40) 0;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @include z-index(postBG);
    display: block;
    @include csis-block-full-width-wrapper();
    background: $gradient-post-header;
  }

  .post-template-default & {
    @include breakpoint('large') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
      column-gap: rem(48);
    }

    @include breakpoint('xlarge') {
      column-gap: rem(56);
    }
  }

  .post-template-template-no-image & {
    max-width: 100%;

    @include breakpoint('xlarge') {
      padding-bottom: rem(56);
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      margin-top: rem(16);
      background: $color-accent-light-primary-200;

      @include breakpoint('large') {
        margin-top: rem(24);
      }
    }

    > * {
      max-width: $size__content-max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__header-content {
    @include breakpoint('large') {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: rem(8);
    color: $color-white-100;
    @extend %text-style-heading-3-x-large-strong;

    @include breakpoint('medium') {
      margin-bottom: rem(16);
    }

    @include breakpoint('large') {
      margin-bottom: rem(24);
    }
  }

  &__desc {
    margin-bottom: rem(24);
    color: var(--page-desc-color, $color-white-190);
    @extend %text-style-paragraph-large-short-sans;
  }

  .post-meta__authors {
    --post-meta: #{$color-white-190};
    margin-bottom: rem(8);

    a {
      color: $color-white-190;

      &:hover {
        color: $color-accent-dark-primary-400;
      }

      &:focus {
        color: $color-white-100;
        background: $color-border-light-130;
      }
    }
  }

  .post-meta__date {
    --post-meta: #{$color-white-165};
  }
}

.featured-media {
  grid-column: 2;
  margin: rem(40) 0 0;

  @include breakpoint('large') {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.featured-media__caption {
  margin: rem(40) 0 0;
  color: $color-black-100;
  @extend %text-style-paragraph-medium-short;

  &-label {
    color: $color-black-165;
  }
}

.post {
  &__authors {
    margin-top: rem(48);
    margin-bottom: rem(32);
    padding-top: rem(24);
    border-top: 1px solid $color-black-130;
  }

  .entry__tags {
    max-width: $size__content-max-width;
    margin-right: auto;
    margin-bottom: rem(24);
    margin-left: auto;

    @include breakpoint('large') {
      margin-bottom: rem(40);
    }
  }

  &-meta__tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      white-space: nowrap;

      a {
        display: flex;
        align-self: center;
        padding: rem(4) rem(8);
      }
    }
  }
}
