@use '../abstracts' as *;

@use '../blocks/post/definition-list';

.single {
  &__header {
    position: relative;
    margin-bottom: rem(48);
    padding: rem(40) 0;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      @include z-index(postBG);
      display: block;
      @include csis-block-full-width-wrapper();
      background: $gradient-post-header;
    }

    .single__excerpt {
      position: relative;
      // color: var(--page-excerpt);
      // @extend %font-body-lg-post;
    }

    .post-meta__authors {
      --post-meta: #{$color-white-190};
      margin-bottom: rem(8);
    }

    .post-meta__date {
      --post-meta: #{$color-white-165};
    }
  }

  &__title {
    margin-bottom: rem(8);
    color: $color-white-100;
    @extend %text-style-heading-3-x-large-strong;
  }

  .featured-media {
    margin: rem(40) 0 0;
  }

  .featured-media__caption {
    margin-bottom: rem(12);
    // color: $color-text-gray-70;
    // @extend %font-body-sm;

    &::after {
      content: '';
      display: block;
      width: rem(40);
      height: 2px;
      margin-top: rem(12);
      background: $color-black-130;
    }
  }

  &__content {
    p:not([class]) {
      margin-bottom: rem(24);
    }

    p:empty {
      display: none;
    }
  }
}

// .post-template-default {
// }
