@use '../abstracts' as *;

@use '../blocks/post/definition-list';

.single {
  &__header {
    position: relative;
    max-width: $size__content-max-width;
    margin: 0 auto rem(56);
    padding: rem(40) 0;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      @include z-index(postBG);
      display: block;
      @include csis-block-full-width-wrapper();
      background: $gradient-post-header;
    }
  }

  &__title {
    margin-bottom: rem(8);
    color: $color-white-100;
    @extend %text-style-heading-3-x-large-strong;
  }

  &__desc {
    margin-bottom: rem(24);
    color: var(--page-desc-color, $color-white-190);
    @extend %text-style-paragraph-small-short;
  }

  &__content {
    p:not([class]) {
      margin-bottom: rem(24);
    }

    p:empty {
      display: none;
    }
  }
}
