@use 'abstracts' as *;

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:not(.btn):hover,
  &:not(.btn):focus,
  &:not(.btn):active {
    color: inherit;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
