@use 'abstracts' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: $color-bg-dark-200;

  &__logo {
    position: relative;
    width: fit-content;

    svg {
      width: auto;
      height: var(--logo-height);
    }
  }
}

.site-nav {
  display: flex;
  align-items: center;
  height: 100%;

  &__container {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: rem(320px);
    background: $color-white-100;
    visibility: hidden;
    transition: clip-path 0.3s linear, visibility 0.3s linear;
    clip-path: inset(0 0 0 100%);

    @include breakpoint('large') {
      position: static !important;
      top: unset;
      right: unset;
      left: unset;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0;
      background: transparent;
      transform: none;
      visibility: visible;
      clip-path: none;
    }

    &.is-active {
      visibility: visible;
      clip-path: inset(0);
    }
  }

  &__trigger {
    position: relative;
    z-index: 3;
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    transform: rotate(0deg);
    cursor: pointer;
    transition: 0.5s ease-in-out;

    @include breakpoint('large') {
      display: none;
    }

    .line {
      position: absolute;
      left: 25%;
      display: block;
      width: 100%;
      max-width: 20px;
      height: 2px;
      background: $color-white-100;
      transform: rotate(0deg);
      opacity: 1;
      transition: 0.25s ease-in-out;

      /* stylelint-disable-next-line */
      &:nth-child(1) {
        top: 35%;
      }

      /* stylelint-disable-next-line */
      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
      }

      /* stylelint-disable-next-line */
      &:nth-child(4) {
        top: 65%;
      }
    }

    &:hover .line,
    &:focus .line {
      background-color: $color-black-100;
    }

    &.is-active .line {
      /* stylelint-disable-next-line */
      &:nth-child(1),
      &:nth-child(4) {
        top: 50%;
        left: 50%;
        width: 0%;
      }

      /* stylelint-disable-next-line */
      &:nth-child(2) {
        transform: rotate(45deg);
      }

      /* stylelint-disable-next-line */
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  &__menu {
    position: relative;
    // top: 72px;
    height: 100%;

    @include breakpoint(large) {
      position: static;
      top: 0;
      display: flex;
    }

    > li {
      position: relative;
      margin: 0.75rem 0;

      @include breakpoint(large) {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 0.75rem 0.75rem;
      }

      /* stylelint-disable */
      &.is-active,
      &:hover {
        color: $color-black-100;
      }

      &.is-active {
        --nav-color: var(--nav-border-color);
      }

      &:hover {
        // --nav-color: #{$color-primary-blue-700};
      }
      /* stylelint-enable */
    }

    a {
      display: block;
      padding: 0.75rem 2rem;

      @include breakpoint(large) {
        padding: 0;
      }
    }
  }

  .menu-item-has-children {
    &:hover .sub-menu {
      position: relative;

      visibility: visible;
      clip-path: inset(0);

      @include breakpoint('large') {
        position: absolute;
      }
    }
  }

  .sub-menu {
    position: absolute;
    padding-bottom: 0.5rem;
    background-color: var(--page-header-bg);
    visibility: hidden;
    transition: clip-path 0.3s linear, visibility 0.3s linear;
    clip-path: inset(0 0 100% 0);

    @include breakpoint('large') {
      position: absolute;
      top: 100%;
      left: calc(-0.5rem + 1px);
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      @include font-size(18px);
      white-space: nowrap;
      list-style: none;
    }
  }
}

// .header {
//   background-color: $color-bg-dark-200;
//   @extend %text-style-label-large-caps;

//   &__nav {
//     height: auto;
//     line-height: 70px;
//     text-align: center;

//     @include breakpoint('medium') {
//       text-align: right;
//     }
//   }

//   &__logo {
//     width: 200px;
//     margin: auto;

//     svg {
//       width: rem(200);
//       height: rem(15.15);
//     }

//     @include breakpoint('medium') {
//       display: block;
//       float: left;
//       margin-left: 20px;

//       svg {
//         width: rem(330);
//         height: rem(25);
//       }
//     }
//   }

//   &__menu {
//     display: none;
//     width: 100%;
//     text-align: center;
//     background-color: $color-bg-dark-200;

//     a {
//       display: block;
//       clear: left;
//       color: $color-white-190;
//       line-height: 70px;
//     }

//     @include breakpoint('medium') {
//       display: inline !important;
//       text-align: right;

//       a {
//         display: initial;
//         text-decoration: none;
//       }

//       :first-child,
//       :nth-child(2) {
//         margin-right: 28px;
//       }
//     }
//   }

//   &__search-icon-mobile {
//     display: block;
//     float: right;
//     padding-right: 20px;
//     color: $color-white-190;

//     @include breakpoint('medium') {
//       display: none;
//     }
//   }

//   &__search-icon {
//     display: none;

//     @include breakpoint('medium') {
//       display: inline-block;
//       height: 24px;
//       margin-right: 20px;
//       padding-left: 22px;
//       color: $color-white-165;

//       &::before {
//         height: 50%;
//         content: ' ';
//         padding-right: 20px;
//         border-left: 1px $color-white-115 solid;
//       }
//     }
//   }

//   &__toggle {
//     display: block;
//     float: left;
//     width: 26px;
//     margin: 0 0 0 20px;
//     color: $color-white-190;
//     font-size: 26px;
//     line-height: 70px;
//     cursor: pointer;

//     @include breakpoint('medium') {
//       display: none;
//     }
//   }

//   #toggle {
//     display: none;
//   }

//   #toggle:checked + &__menu {
//     display: block;
//   }
// }

// .menu-item-has-children {
//   position: relative;
// }

// .sub-menu {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
// }
