@use 'abstracts' as *;

.header {
  background-color: $color-bg-dark-200;
  @extend %text-style-label-large-caps;

  &__nav {
    height: auto;
    line-height: 70px;
    text-align: center;

    @include breakpoint('medium') {
      text-align: right;
    }
  }

  &__logo {
    width: 200px;
    margin: auto;

    svg {
      width: rem(200);
      height: rem(15.15);
    }

    @include breakpoint('medium') {
      display: block;
      float: left;
      margin-left: 20px;

      svg {
        width: rem(330);
        height: rem(25);
      }
    } 
  }
  
  &__menu {
    display: none;
    width: 100%;
    text-align: center;
    background-color: $color-bg-dark-200;

    a {
      display: block;
      clear: left;
      color: $color-white-190;
      line-height: 70px;
    }
    

    @include breakpoint('medium') {
      display: inline !important;
      text-align: right;

      a {
        display: initial;
        text-decoration: none;
      }

      :first-child,
      :nth-child(2) {
        margin-right: 28px;
      }
    }
  }

  &__search-icon-mobile {
    display: block;
    float: right;
    padding-right: 20px;
    color: $color-white-190;
    
    @include breakpoint('medium') {
      display: none;
    }
  }

  &__search-icon {
    display: none;
    
    @include breakpoint('medium') {
      display: inline-block;
      height: 24px;
      margin-right: 20px;
      padding-left: 22px;
      color: $color-white-165;

      &::before {
        height: 50%;
        content: ' ';
        padding-right: 20px;
        border-left: 1px $color-white-115 solid;
      }
    }
  }
  
  &__toggle {
    display: block;
    float: left;
    width: 26px;
    margin: 0 0 0 20px;
    color: $color-white-190;
    font-size: 26px;
    line-height: 70px;
    cursor: pointer;

    @include breakpoint('medium') {
      display: none;
    }
  }

  #toggle {
    display: none;
  }

  #toggle:checked + &__menu {
    display: block;
  }
}
