@use '../abstracts' as *;

.btn {
  display: inline-block;
  padding: rem(8) rem(12);
  // @extend %font-button;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  // border: 1px solid $color-primary-dark;
  border-radius: 3px;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

  &:hover {
    // color: $color-text-gray-05;
    // background: $color-primary-dark-200;
    // border: 1px solid $color-primary-dark;
  }

  &:focus {
    outline: none;
    // box-shadow: 0 0 0 2px $color-primary-light;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.btn--solid {
  // color: $color-text-gray-05;
  // background: $color-primary-dark;

  &:focus {
    // color: $color-text-gray-05;
  }
}

.btn--outline {
  // color: $color-primary-dark;
  background: transparent;
}

.btn--gray {
  color: $color-white-100;
  // background: $color-primary-darkest;

  &:focus {
    color: $color-white-100;
  }
}

.btn--dark {
  color: $color-white-190;
  background: $color-bg-dark-400;

  &:hover {
    color: $color-white-100;
    background: $color-link-primary-200;
  }

  &:focus {
    color: $color-link-primary-200;
    background: $color-bg-light-200;
  }
}

.btn--circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(32);
  height: rem(32);
  padding: 0;
  border-radius: 50%;
}
