@use 'abstracts' as *;
/* stylelint-disable max-nesting-depth,
  selector-max-compound-selectors
*/

.post-block-related {
  display: block;
  margin-top: rem(32);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
  @include breakpoint('small') {
    max-width: rem(196); 
  }

  @include breakpoint('medium') {
   max-width: rem(266); 
  }

  @include breakpoint('large') {
    max-width: rem(201);
  }

  &__title {
    color: $color-black-190;
    @extend %text-style-label-medium;

    a {
      &:hover {
        color: $color-link-primary-200;
      }
  
      &:focus {
        background: $color-bg-light-400;
      }
    }
  }

  .post-meta__date {
    margin-top: rem(16);
    margin-bottom: rem(4);
    color: $color-black-165;
  }
}
