@use 'abstracts' as *;

.post-block {
  &__title {
    margin-top: rem(32);
    margin-bottom: rem(16);
    color: $color-white-190;
    @extend %text-style-heading-large-serif-bold;

    a {
      &:visited {
        // color: $color-text-gray-70;
      }

      &:hover {
        // color: $color-primary-base;
      }
    }
  }

  &__excerpt {
    margin-bottom: rem(8);
    color: $color-white-190;
    @extend %text-style-paragraph-large-short-sans;
  }

  .featured-media a {
    display: block;
  }
}
