@use 'abstracts' as *;

.post-block--featured {
  position: relative;
  background-color: $color-bg-dark-200;
  @include full-width-background($color-bg-dark-200);
  
  &__label {
    position: absolute;
    top: rem(-46);
    left: rem(-20);
    padding: rem(15);
    color: $color-white-190;
    text-transform: uppercase;
    background-color: $color-bg-dark-200;
    @extend %text-style-label-small;
  }
  
  .post-block {
    &__img {
      padding-top: rem(20);
    }

    &__title {
      color: $color-white-190;
    }
    
    &__excerpt {
      color: $color-white-190;
    }
  }

  .post-meta {
    &__authors {
      color: $color-white-190;

      a {
        color: $color-accent-dark-primary-400;
      }

      a:hover {
        color: $color-white-100;
        transition: color 0.3s ease-in-out;
      }
      
      a:focus {
        color: $color-white-100;
        background: $color-bg-dark-400;
      }
    }

    &__date {
      color: $color-white-165;
    }

    &__categories {
      color: $color-accent-dark-primary-400;

      a:not(:last-of-type)::after {
        border-right: 1px solid $color-border-light-130;
      }

      a:hover {
        color: $color-white-100;
        transition: color 0.3s ease-in-out;
      }

      a:focus {
        color: $color-white-100;
        background: $color-bg-dark-400;
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: rem(32);
    @include breakpoint('small') {
      padding-bottom: rem(24);
    }

    @include breakpoint('large') {
      padding-bottom: rem(32);
    }
  }
}
