@use 'abstracts' as *;
/* stylelint-disable max-nesting-depth,
  selector-max-compound-selectors
*/

.post-block {
  position: relative;
  display: grid;
  grid-template-areas:
    'img'
    'title'
    'excerpt'
    'authors'
    'date'
    'categories';
  grid-template-columns: 1fr;
  margin-right: auto;
  margin-left: auto;
  padding-top: rem(40);
  color: var(--post-meta);
  background: $color-white-100;
  @include full-width-background($color-white-100);

  @include breakpoint('small') {
    @include full-width-background(transparent);
    padding-right: rem(24);
    padding-bottom: rem(24);
    padding-left: rem(24);

    &:not(:last-child)::after {
      top: unset;
      bottom: 0;
      left: rem(24);
      width: calc(100% - 48px);
      height: 1px;
      background: $color-black-200;
    }
  }

  @include breakpoint('large') {
    padding-right: rem(48);
    padding-left: rem(48);

    &:not(:last-child)::after {
      left: rem(48);
      width: calc(100% - 94px);
    }
  }

  &.has-post-thumbnail {
    @include breakpoint('medium') {
      grid-template-areas:
        'title img'
        'excerpt img'
        'authors img'
        'date img'
        'categories img';
      grid-template-columns: 2fr 1fr;
      grid-template-rows: max-content max-content max-content max-content auto;
      column-gap: rem(32);
    }
  }

  &__img {
    grid-area: img;
    margin-bottom: rem(24);
    transition: all 0.3s ease-in-out;

    &:hover ~ .post-block__title {
      color: $color-link-primary-200;

      .archive__featured & {
        color: $color-accent-dark-primary-400;
      }
    }
  }

  &__title {
    grid-area: title;
    color: $color-black-190;
    @extend %text-style-heading-large-serif-bold;

    a {
      &:hover {
        color: $color-link-primary-200;
      }

      &:focus {
        color: $color-link-primary-200;
        background: $color-bg-light-400;
      }
    }

    .archive__featured & {
      color: $color-white-190;

      a {
        &:hover {
          color: $color-accent-dark-primary-400;
        }

        &:focus {
          color: $color-white-100;
          background: $color-border-light-130;
        }
      }
    }
  }

  &__excerpt {
    grid-area: excerpt;
    margin-top: rem(8);
    margin-bottom: rem(16);
    color: $color-black-165;
    overflow-wrap: break-word;
    @extend %text-style-paragraph-large-short-sans;

    .archive__featured & {
      color: $color-white-190;
    }
  }

  .post-meta__authors {
    grid-area: authors;

    .archive__featured & {
      --post-meta: #{$color-white-190};

      a {
        color: $color-white-190;

        &:hover {
          color: $color-accent-dark-primary-400;
        }

        &:focus {
          color: $color-white-100;
          background: $color-bg-dark-400;
        }
      }
    }

    a {
      &:hover {
        color: $color-link-primary-200;
      }

      /* stylelint-disable-next-line */
      &:focus {
        color: $color-link-primary-200;
        background: $color-bg-light-400;
      }
    }
  }

  .post-meta__date {
    grid-area: date;

    .archive__featured & {
      --post-meta: #{$color-white-165};
    }
  }

  .post-meta__categories {
    grid-area: categories;

    .archive__featured & {
      --post-meta: #{$color-accent-dark-primary-400};

      li:not(:last-of-type)::after {
        border-right: 1px solid $color-border-light-130;
      }

      a {
        &:hover {
          color: $color-white-100;
        }

        &:focus {
          color: $color-white-100;
          background: $color-bg-dark-400;
        }
      }
    }
  }

  &--post {
    padding-bottom: rem(32);

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-black-200;
    }

    @include breakpoint('small') {
      padding-bottom: rem(24);

      &:not(:last-of-type) {
        border-bottom: 0;
      }
    }

    @include breakpoint('large') {
      padding-bottom: rem(32);
    }
  }

  .featured-media a {
    display: block;
  }
}
