@use 'abstracts' as *;

.post-meta {
  color: var(--post-meta);

  &__label {
    font-style: italic;
  }

  &__date {
    --post-meta: #{$color-black-165};
    @extend %text-style-label-x-small-strong-caps;
  }

  &__authors {
    --post-meta: #{$color-black-190};
    @extend %text-style-paragraph-small-short;
  }
}
