@use 'abstracts' as *;

.addtoany_content {
  &::before {
    content: '';
    display: block;
    width: rem(280);
    height: 1px;
    margin: 0 auto rem(24);
    background: $color-accent-light-primary-300;
  }
}

/* stylelint-disable-next-line */
.addtoany_list {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;

  a {
    display: flex !important;
    align-items: center;
    color: var(--icon-fill);

    &:first-of-type {
      margin-left: -4px;
    }

    &:hover {
      --icon-fill: var(--icon-fill-hover);
      color: var(--icon-fill-hover);

      img {
        opacity: 0.9 !important;
      }
    }

    &:focus {
      background: $color-bg-light-200;
    }

    img {
      filter: var(--icon-fill);
    }
  }

  /* stylelint-disable-next-line */
  .a2a_button_email {
    position: relative;
    top: 2px;
  }

  .single__footer &
  ,
  .single__content & {
    --icon-fill: invert(31%) sepia(62%) saturate(350%) hue-rotate(131deg) brightness(94%) contrast(92%);

    --icon-fill-hover: invert(0%) sepia(40%) saturate(1505%) hue-rotate(213deg) brightness(117%) contrast(108%) #{$shadow--1};


    @include breakpoint('small') {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    &::before {
      content: 'Share';
      margin-right: rem(12);
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0.8;
      filter: var(--icon-fill);
      @extend %text-style-label-large;
    }
  }
}
